/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* Colors */
  --clr-light-dark-blue: 231 16% 24%;
  --clr-dark-blue: 232 17% 17%;
  --clr-mid-blue: 201 100% 35%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 100% 0%;
  --clr-soft-black: 0 0% 30%;
  --clr-sunset-pink: 12 100% 74%;
  --clr-light-grey: 0 0% 44%;
  --clr-yellow: 60 92% 64%;

  /* Font Families */
  --ff-1: "Work Sans", sans-serif;
  --ff-2: "Inter", sans-serif;
  --ff-3: "Harla", sans-serif;
}

/* ------------------- */
/* Resets   */
/* ------------------- */

@media (min-width: 700px) {
  .colors-generator h2 {
    font-size: 3rem;
  }
}

/* ------------------- */
/* Layout              */
/* ------------------- */
.colors-generator {
  text-align: center;
  margin-top: 30px;
}

.colors-generator .title {
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .colors-generator .title {
    margin-bottom: 50px;
  }
}

.colors-generator .user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.colors-generator .user-input input[type="color"]{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.colors-generator .user-input select {
  text-align: center;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

@media (min-width: 450px) {
  .colors-generator .user-input input[type="color"],
  .colors-generator .user-input select {
    width: 400px;
  }
}

.colors-generator .user-input .btn {
  margin-bottom: 20px;
  width: 100%;
  margin-right: unset;
  margin-left: unset;
}

@media (min-width: 700px) {
  .colors-generator .user-input {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }

  .colors-generator .user-input input[type="color"] {
    width: 60px;
    height: 45px;
  }

  .colors-generator .user-input select,
  .colors-generator .user-input .btn {
    width: 200px;
  }

  .colors-generator .user-input select {
    width: 200px;
    height: 45px;
  }
}

/* Colors container */

.colors-generator .colors-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 700px) {
  .colors-generator .colors-container {
    flex-direction: column;
  }

  .colors-generator .colors-container .colors {
    display: flex;
  }
}

/* Color boxes */
.colors-generator .colors-container .color-box {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .colors-generator .colors-container .color-box {
    margin-bottom: unset;
    width: 25%;
    height: 500px;
  }
  .colors-generator .colors-container .color-box:not(:first-child) {
    margin-left: 10px;
  }
}

/* Text container */
.colors-generator .colors-container .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

@media (min-width: 700px) {
  .colors-generator .colors-container .text-container {
    flex-direction: row;
    margin-left: unset;
  }
}

.colors-generator .colors-container .text-container .input-container {
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 10px;
}

.colors-generator .colors-container .text-container input {
  width: 100%;
  background-color: hsl(var(--clr-light-grey) / .5);
  border: none;
  text-align: center;
  color: hsl(var(--clr-grey));
  padding: 10px 0;
  border-radius: 10px;
}

.light .colors-generator .colors-container .text-container input {
  color: hsl(var(--clr-black));
}