/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* Colors */
  --clr-light-dark-blue: 231 16% 24%;
  --clr-dark-blue: 232 17% 17%;
  --clr-mid-blue: 201 100% 35%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 100% 0%;
  --clr-soft-black: 0 0% 30%;
  --clr-sunset-pink: 12 100% 74%;
  --clr-light-grey: 0 0% 44%;
  --clr-yellow: 60 92% 64%;

  /* Font family */
  --ff-1: "Work Sans", sans-serif;
}

.travel-logs {
  text-align: center;
  margin-top: 10px;
  font-family: var(--ff-1);
}

@media (min-width: 700px) {
  .travel-logs {
    text-align: left;
  }
}

.travel-logs .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}

.travel-logs .header .logo::after {
  content: "";
  background: hsl(var(--clr-white));
  position: absolute;
  bottom: -15px;
  left: 13%;
  height: 1px;
  width: 75%;
}

.light .travel-logs .header .logo::after{
  background-color: hsl(var(--clr-soft-black));
}

@media (min-width: 700px) {
  .travel-logs .header .logo::after {
    width: 50%;
    left: 25%;
  }
}

@media (min-width: 1100px) {
  .travel-logs .header .logo::after {
    width: 40%;
    left: 30%;
  }
}

.travel-logs .header .logo i {
  margin-right: 15px;
}

.travel-logs .article {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 700px) {
  .travel-logs .article {
    display: flex;
    align-items: center;
  }
}

.travel-logs .article img {
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .travel-logs .article img {
    width: 200px;
    height: 275px;
  }

  .travel-logs .article .info {
    margin-left: 30px;
  }
}

.travel-logs .article .info .map i {
  margin-bottom: 10px;
}

.travel-logs .article .info .map a {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  .travel-logs .article .info .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .travel-logs .article .info .map i,
  .travel-logs .article .info .map a {
    margin-bottom: unset;
  }

  .travel-logs .article .info .map a {
    margin-left: 20px;
  }
}

@media (min-width: 700px) {
  .travel-logs .article .info .map {
    justify-content: start;
  }
}


.travel-logs .article .info .title {
  margin-bottom: 20px;
}

.travel-logs .article .info .date {
  margin-bottom: 30px;
}

.travel-logs .article .info .desc {
  margin-bottom: 50px;
}
@media (min-width: 700px) {
  .travel-logs .article .info .desc {
    max-width: 500px;
  }
}

.travel-logs hr.linebreak {
  border: 1px solid #f5f5f5;
  margin-bottom: 50px;
}

.light .travel-logs hr.linebreak {
  border: 1px solid hsl(var(--clr-soft-black));
}
