:root {
  /* Colors */
  --clr-light-dark-blue: 231 16% 24%;
  --clr-dark-blue: 232 17% 17%;
  --clr-mid-blue: 201 100% 35%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 100% 0%;
  --clr-soft-black: 0 0% 30%;
  --clr-sunset-pink: 12 100% 74%;
  --clr-light-grey: 0 0% 44%;
  --clr-yellow: 60 92% 64%;

  /* Font family */
  --ff-1: "Work Sans", sans-serif;
}

/* Layout */

/* Layout */

.unit-convertor {
  position: relative;
  text-align: center;
  font-family: var(--ff-1);
}

.unit-convertor .main .title {
  margin-bottom: 25px;
}

 
.light .unit-convertor h3, 
.light .unit-convertor p {
  color: hsl(var(--clr-soft-black));
}

.unit-convertor .main input {
  background-color: transparent;
  border: grey 3px solid;
  border-radius: 10px;
  font-size: 60px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  color: hsl(var(--clr-white));
}

.light .unit-convertor .main input {
  color: hsl(var(--clr-soft-black));
}

@media (min-width: 500px) {
  .unit-convertor .main input {
    width: 400px;
  }
}

.unit-convertor .main input::placeholder {
  font-size: 30px;
  color: hsl(var(--clr-white) / .7)
}

.light .unit-convertor .main input::placeholder {
  font-size: 30px;
  color: hsl(var(--clr-soft-black) / .7);
}

.unit-convertor .main input:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

.unit-convertor .main input::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.unit-convertor .main input:-ms-input-placeholder {  
  text-align: center; 
}

/* Remove inputs for number */
.unit-convertor .main input::-webkit-outer-spin-button,
.unit-convertor .main input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.unit-convertor .main input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.unit-convertor .conversions .unit:not(:last-child){
  margin-bottom: 40px;
}

.unit-convertor .conversions .unit .title {
  margin-bottom: 20px;
}

.unit-convertor .conversions .unit p {
  margin-bottom: 10px;
}