/* ------------------- */
/* Custom properties   */
/* ------------------- */
:root {
  /* Colors */
  --clr-light-dark-blue: 231 16% 24%;
  --clr-dark-blue: 232 17% 17%;
  --clr-mid-blue: 201 100% 35%;
  --clr-white: 0 0% 100%;
  --clr-black: 0 100% 0%;
  --clr-soft-black: 0 0% 30%;
  --clr-sunset-pink: 12 100% 74%;
  --clr-light-grey: 0 0% 44%;
  --clr-yellow: 60 92% 64%;
  --clr-light-green: 160 84% 39%;


  --ff-1: "Work Sans", sans-serif;
  --ff-2: "Inter", sans-serif;
  --ff-3: "Harla", sans-serif;
} 

/* ------------------- */
/* Resets              */
/* ------------------- */

.generator p.small {
  font-size: 0.8rem;
}

/* ------------------- */
/* General             */
/* ------------------- */

.generator .text-green {
  color: hsl(var(--clr-light-green));
}

/* ------------------- */
/* Components          */
/* ------------------- */

.generator .btn {
  background-color: hsl(var(--clr-light-green));
  color: hsl(var(--clr-white));
}

/* ------------------- */
/* Layouts             */
/* ------------------- */

.generator {
  text-align: center;
  margin-top: 30px;
}

.generator .title {
  margin-bottom: 15px;
}

.generator .subtitle {
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .generator .subtitle {
    margin-bottom: 50px;
  }
}

.generator .btn {
  margin-bottom: 15px;
}

.generator .btn:focus {
  outline-color: hsl(var(--clr-white));
}

.light .generator .btn:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.generator .length {
  margin-bottom: 50px;
}

.generator .length label {
  display: block;
  margin-bottom: 10px;
}

.generator hr.linebreak {
  display: block;
  width: 60%;
  margin-bottom: 50px;
}

.generator .passwords {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .generator .passwords {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
  }

  .generator .passwords input {
    flex: 40%;
  }
}

.generator .passwords .input{
  background: hsl(var(--clr-light-grey) / .2);
  color: hsl(var(--clr-light-green));
  border: none;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.light .generator .passwords .input {
  background-color: hsl(var(--clr-light-green));
  color: hsl(var(--clr-white));
}

.generator .passwords .input:focus{
  outline-color: hsl(var(--clr-light-green));
}

.light .generator .passwords .input:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}