/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */
  --clr-black: #161619;
  --clr-dark-blue: #1a1b21;
  --clr-mid-blue: #23252c;
  --clr-light-blue: #5093e2;
  --clr-light-grey: #dcdcdc;
  --clr-grey: #918e9b;
  --clr-sunset-orange: #f3bf99;
  --clr-white: white;

  /* Font sizes */
  --fs-200: 0.8rem;
  --fs-300: 1rem;
  --fs-400: 1.3rem;
  --fs-500: 1.5rem;
  --fs-600: 1.7rem;
  --fs-700: 2rem;
  --fs-800: 3rem;

  /* Font Families */
  --ff-1: "Inter", serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h3,
h4,
h5,
p {
  font-weight: 400;
}

h1 {
  font-size: var(--fs-500);
}

h2 {
  font-size: var(--fs-400);
  font-weight: 600;
}

h3 {
  font-size: var(--fs-300);
}

p {
  font-size: var(--fs-200);
}

small {
  font-size: var(--fs-200);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Set up the body */
body {
  font-family: var(--ff-1);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-mid-blue);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Images easier */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove animations */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility             */
/* ------------------- */

/* General */

.container {
  padding-left: 35px;
  padding-right: 35px;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flowspace, 5px);
}

/* Text Colors */

.text-sunset-orange {
  color: var(--clr-sunset-orange);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.btn {
  border-radius: 5px;
  font-size: var(--fs-300);
  font-family: inherit;
}

/* Button */
.btn-blue {
  padding: 9px 12px;
  background-color: var(--clr-light-blue);
  color: var(--clr-white);
}

.btn-white {
  padding: 9px 25px;
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
}

/* ----------------------------- */
/* Component specific            */
/* ----------------------------- */

/* General for entire profile */
.card {
  width: 317px;
  margin: 0 auto;
  background-color: var(--clr-dark-blue);
}

/* Info component */
.info {
  text-align: center;
  margin-bottom: 30px;
}

.info--portrait {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
}

.info--name {
  margin-bottom: 20px;
}

.info--contact {
  display: flex;
  justify-content: space-between;
}

/* About Component */

.about {
  margin-bottom: 20px;
}

.about h2 {
  margin-bottom: 10px;
}

/* Interest component */

.interests {
  margin-bottom: 20px;
}

.interests h2 {
  margin-bottom: 10px;
}

/* Footer */

footer {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: var(--clr-black);
}

footer ul {
  display: flex;
  gap: 30px;
  padding-left: 0;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

footer ul li a {
  font-size: var(--fs-700);
  color: var(--clr-grey);
}

footer ul li a:hover {
  color: var(--clr-sunset-orange);
}
